.sobreobjeto{
    background-color:#d7d7d7;
}
.mouseOVER {
    background-color:#ededed;
}
.tab{
    text-align:left;
    background-color:#d0d0d0;
    padding-left:10px;
    padding-right:10px;
    font-size:11px;
    font-family: arial;
    color:#a0a0a0;
    cursor: pointer;
    width:auto;
    border-left: 1px solid #8d8f91;
    border-right: 1px solid #8d8f91;
    border-top: 1px solid #8d8f91;
}
.sobreboton{
    background-color:#bec0c1;
}
.click{
    background: url('../imagenes/tb_tit.jpg') repeat-x;
    color:black;
    border-left: 1px solid #8d8f91;
    border-right: 1px solid #8d8f91;
    border-top: 1px solid #8d8f91;
}
/*input{
    color:black;
    readonly:false;
}*/
#contenedorTAB {
    background-color: #e3ebf1;
    border-radius: 5px;
    padding-right: 2px;
    border: 1px solid #adafb0;
    font-family: Gill, Helvetica, sans-serif;
    font-size: 14px;
}
#tabs {
    margin-top:15px;
}
.form-text{
    padding:5px;
    border:2px solid #CCCCCC;
    border-radius:5px;
    background-image:url('../../../includes/imagenes/bg-input.png');
    background-repeat:repeat-x;
}
.form-text:focus{
    border:2px solid rgb(104,180,255);
    background:rgb(224,224,224);
}
.label{vertical-align:middle; width:20%; text-align: right; padding-right: 15px; white-space: nowrap;}

#aceptar, input[type="button"], input[type="submit"]{
    border-radius: 4px;
    height: 30px;
    float: right;
    cursor: pointer;
    white-space: nowrap;
}
#aceptar:focus, #aceptar:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="submit"]:focus, input[type="submit"]:hover{
    border:1px solid #99CCFF;
    /*background-color: buttonhighlight;*/
    background-color: activecaption;
    border: 1px solid #99CCFF;
}

.sobreobjeto{
    background-color:#d7d7d7;
}
.mouseOVER {
    background-color:#ededed;
}
.tab{
    text-align:left;
    background-color:#d0d0d0;
    padding-left:10px;
    padding-right:10px;
    font-size:11px;
    font-family: arial;
    color:#a0a0a0;
    cursor: pointer;
    width:auto;
    border-left: 1px solid #8d8f91;
    border-right: 1px solid #8d8f91;border-top: 1px solid #8d8f91;
}
.sobreboton{
    background-color:#bec0c1;
}
.click{
    background: url('../../includes/imagenes/tb_tit.jpg') repeat-x;
    color:black;
    border-left: 1px solid #8d8f91;
    border-right: 1px solid #8d8f91;
    border-top: 1px solid #8d8f91;
}
#contenedorTAB {
    background-color: #e3ebf1;
    border-radius: 5px;
    padding: 2px;
    /*-webkit-border-radius: 5px;*/
    border: 1px solid #adafb0;
}
#tabs {
    margin-top:15px;
}

.posicion_cantidades{text-align:right; padding-right:8px;}
.subcontenedor{background-color:#ffffff; border: 1px solid #ededed; border-radius: 7px; padding:5px; margin-top:0.3%; margin-right: 0.3%; font-size: 13px;}
.resumen{margin-right: 20px; float: left; font-style: italic; font-size: 15px;}

div>div>table>tbody>tr{border-top-style: dotted; border-width: 1px; border-color: #8d8f91;}
/*.punteado{border-top-style: dotted; border-width: 1px; border-color: #8d8f91;}*/
