body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-image: url('../imagenes/bg.jpg');
    background-repeat: no-repeat;
    background-position:center 150px;
    height:100%;
    background-color:#D4ECF7;
    overflow:hidden;
}
#login1 {
    background-color: #EBEBEB;
    background-image:url('../imagenes/login_bg.jpg');
    width:390px;
    background-repeat: repeat-x;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #2a4c8a;
    /*-moz-border-radius:10px;
    -moz-box-shadow:2px 2px 10px #2a4c8a;
    -webkit-border-radius:10px;
    -webkit-box-shadow:2px 2px 10px #2a4c8a;
    */
    margin:245px auto 0 auto;
    padding:15px;
    overflow: hidden;
}
#login {
    background-color: #EBEBEB;
    background-image:url('../imagenes/login_bg.jpg');
    background-repeat: repeat-x;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #2a4c8a;
    /*-moz-border-radius:10px;
    -moz-box-shadow:2px 2px 10px #2a4c8a;
    -webkit-border-radius:10px;
    -webkit-box-shadow:2px 2px 10px #2a4c8a;
    */
    width:390px;
    margin:245px auto 0 auto;
    padding:15px;
    overflow: hidden;
}
#login p{
    text-align:center;
    margin-top:0px;
}
#logo {
    float:left;
}
#cont {
    float:left;
    margin-left:5px;
    color:#666666;
    width:170px;
}
form ul{
    list-style: none;
    margin:0;
    padding:0;
}
form li{
    padding-bottom: 10px;
    margin:0;
}
label{
    display:block;
    margin-bottom:5px;
}
.form-text{
    width:140px;
    padding:3px;
    border:2px solid #CCCCCC;
    border-radius:5px;
    /*-moz-border-radius:3px;
    -webkit-border-radius:3px;*/
    background-image:url('../imagenes/bg-input.png');
    background-repeat:repeat-x;
}
.form-text:focus{
    border:2px solid rgb(104,180,255);
    background:rgb(224,224,224);
}
.submit{
    float:right;
}
