/*!
 * Ext JS Library 3.4.0
 * Copyright(c) 2006-2011 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
.sort-desc {
    background-image: url("../../../includes/js/ext-3.4.0/resources/images/default/grid/sort_desc.gif") !important;
    background-position: 4px 7px !important;
}

.sort-asc {
    background-image: url("../../../includes/js/ext-3.4.0/resources/images/default/grid/sort_asc.gif") !important;
    background-position: 4px 7px !important;
}