@import url("Asys_Maker.css");

/* Definiciones de Fuentes */
body, td, th, input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* Definiciones de Links */
a:link, a:visited, a:active {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}

/* Definiciones de Menu */
a.menu:link, a.menu:visited, a.menu:active, a.menu:hover{
	color: #333333;
	padding: 2px;
	font-size: 12px;
}
.menu-separador{

	background-image:url(img_sis/sep_menu.png);

}
.menu-bg{
	background-color:#FFCC66;
	background-image:url(img_sis/bg_menu.png);
	background-repeat:repeat-y;
}
.menu-bg-hover{
	background-color: #FFCC66;
	background-image:url(img_sis/bg_menu_over.png);
	background-repeat:repeat-y;
}
.menu-br{
	background-color: #98A1B0;
}
/* Definiciones de Botones */
.btn-t {
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
	color: #000000;
}
.creditos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.fondo {
	background-color:#FFFFCC;
}
a.btn-t:link, a.btn-t:active, a.btn-t:hover,a.btn-t:visited {
	color: #000000;
}
.btn_bg {
	background-image: url(img_sis/bt_middle.gif);
	background-repeat: repeat-x;
	font-weight:normal;
}
.box {
	float:left;
	margin:5px;
}
.boton {
	background-image: url(img_sis/boton_off.png);
	background-repeat: repeat-x;
	font-weight:normal;
}
.boton-over {
	background-image: url(img_sis/boton_on.png);
	background-repeat: repeat-x;
	font-weight:normal;
}
.boton-text{
	font-size: 11px;
}

/*padding: 0px 4px; white-space: nowrap; width: 100%; text-align: center; background-image: url(/skins/WinXPReloadedCompact/images/button_middle.gif);*/

/* Definiciones de Tablas */
table {
	border-collapse:collapse;
}

.tb-tit {
	background-image: url(img_sis/tb_tit.png);
	font-weight: bold;
	color: #000066;
	padding-left: 5px;
	height:26px;
}
.tb-head {
	background-color: #FF9900;
}
.tb-head-hover{
	background-color: #E9EBEF;
}
.tb-footer {
	background-color: #CCD7E1;
}
.tb-body {
	background-color: #EEF2F5;
	background-image:url(img_sis/tb_body.jpg);
	background-repeat:repeat-x;
}
.tb-fila{
	background-color: #FFE4AF;
}
.tb-sep {
	background-image:url(img_sis/tb_sep.png);
	background-repeat:repeat-x;
	font-weight: bold;
	text-align:center;
}
.row-even {
	background-color: #FFFFFF;
}
.row-odd {
	background-color: #EEF2F5;
}
.row-hover {
	background-color: #DDEEFF;
}
.row-select {
	background-color: #DDEEFF;
}
.row-br {
	border:1px solid #CC6600;
}
.alert {
	background-color: #FFFFCC;
}
.icon{
	vertical-align:middle;
	margin-right:5px;
	border:0px;
}
/* Definiciones de Controles de formulario */
input, select, textarea {
	border: 1px solid silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
input.error, select.error, textarea.error {
	border: 1px solid red;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
input:focus, select:focus, textarea:focus {
	border: 1px solid #99CCFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.form-btn{
	border: 1px solid #C1C8D2;
	background-image:url(img_sis/bt_middle.gif)
}
.no-br {
	border: none;
}

.saltopagina {
	page-break-after: always;
}

/* Definiciones de Validacion */
/* Definiciones de Wigets */
/* Definiciones de Tabs */