<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.1.1
Version: 2.0.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<head>
		<link rel="shortcut icon" href="../../imagenes/logo.ico" />
     <title>.:: Login ::.</title>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--link href="../../libs/css/font.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="../../../includes/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="../../../includes/assets/plugins/select2/select2-metronic.css"/>

<link href="../../../includes/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="../../../includes/assets/css/pages/login-soft.css" rel="stylesheet" type="text/css"/>
<link href="../../../includes/assets/css/custom.css" rel="stylesheet" type="text/css"/-->

        <!--link rel="stylesheet" type="text/css" href="./../../../includes/js/ext-5.0.0/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
        <script type="text/javascript" src="./../../../includes/js/ext-5.0.0/build/ext-all.js"></script>
        <script type="text/javascript" src="./../../../includes/js/ext-5.0.0/build/packages/ext-theme-neptune/build/ext-theme-neptune.js"></script>
        <script type="text/javascript" src="./../../../includes/js/ext-5.0.0/build/packages/ext-locale/build/ext-locale-es.js"></script-->

        <!-- INICIO MOBILE -->
        <link href="../../../includes/js/touch-2.4.1/resources/css/sencha-touch.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="../../../includes/js/touch-2.4.1/sencha-touch-all-debug.js"></script>
    	<!-- FIN MOBILE -->

 <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div id="content">
	
</div>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!--script src="../../../includes/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

<script src="../../../includes/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../../includes/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../../includes/assets/plugins/select2/select2.min.js"></script>

<script src="../../../includes/assets/scripts/core/app.js" type="text/javascript"></script>
<script src="../../../includes/assets/scripts/custom/login-soft.js" type="text/javascript"></script-->
<script src="../../../includes/js/gui/login/LoginMobile.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{literal}
<script>
		/*jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});*/

</script>
{/literal}
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>